/* 
* Font Family
*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Merriweather:wght@400;700;900&display=swap");
/* 
* univercel selector
*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
/* 
* primary container 
*/
.container {
  width: 80%;
  max-width: 1440px;
  margin: 50px auto;
}

/* 
* header part style start
*/

/* 
* banner section style start
*/
.banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./images/Banner\ Image.png);
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  height: 600px;
}
.banner-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-text .sub-heading-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  padding-top: 177px;
}

.banner-text .heading-title {
  width: 550px;
  color: #fff;
  margin-bottom: 177px;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  line-height: 95px;
  font-weight: 900;
}
/* 
* banner section style end
*/

/* 
* header part style start
*/

/* 
* main part style start
 */

/* 
* categories secetion style start
 */
.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.categories-text {
  text-align: center;
}
.categories-title {
  color: #f00;
  font-size: 70px;
  font-weight: 700;
  font-family: Inter;
}
.categories-our-text {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 25px;
}
.categories-all-title {
  color: #070211;
  margin-top: 10px;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
}
.categories-img img {
  width: 700px;
  height: 500px;
  margin-top: 50px;
}
/* 
* categories secetion style end
 */

/* 
 * wellcome-to-party secetion style start
 */
.wellcome-to-party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./images/Vectorrr.png);
  height: 600px;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 126px 126px;
  border-radius: 16px;
}
.wellcome-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 50px;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: 7.04px;
}
.wellcome-text-para {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  padding-top: 20px;
}
.join-now-btn {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 40px 0px 0px 30px;
}

/* 
 * wellcome-to-party secetion style end
 */

/* 
  * place-date-time secetion style start
 */

.place-date-time {
  height: 482px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin-top: 80px;
  border-radius: 16px;
}
.place-date-time-text-content {
  color: #070211;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 45px;
  padding: 10px 0;
  text-transform: capitalize;
  text-align: center;
}
span {
  color: #f00;
}
.join-now-btn-2 {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f00;
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
.join-now-btn-2:hover {
  box-shadow: 1px 2px 1px gray;
  background-color: orange;
  color: black;
  font-weight: 600;
}

/* 
  * place-date-time secetion style end
 */

/* 
  * offer-section secetion style start
 */

.offer-section {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  background: #fff;
  margin-top: 80px;
}
.offer-text-content-1 {
  width: 300px;
}
.offer-smal-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.offer-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 15px 0;
}
.offer-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.offer-img {
  width: 400px;
  height: 400px;
  border: 10px solid #f00;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 50px;
}
.offer-img img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.offer-text-content-2 {
  width: 300px;
}
.offer-title-2 {
  color: #f00;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  padding-top: 38px;
}
.offer-text-2 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 10px 0px 30px 0px;
}

/* 
  * offer-section secetion style end
 */

/* 
  * holidays-discount secetion style start
 */

.holidays-discount {
  margin-top: 80px;
}
.holidays-text-content {
  text-align: center;
  padding: 0 120px;
  display: grid;
  gap: 20px;
}
.smal-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holiday-title {
  color: #f00;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

.span-sale {
  color: #070211;
}

.holiday-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.holidays-imges {
  height: 550px;
}
.red-box {
  background-color: red;
  height: 120px;
  position: relative;
  top: 420px;
  border-radius: 16px 0px 16px;
}
.girls-img {
  position: absolute;
  bottom: 120px;
  width: 350px;
  height: 350px;
  right: 0px;
}
.box-img {
  position: absolute;
  bottom: 20px;
  width: 400px;
  height: 400px;
  left: 50px;
}
.discount-img {
  position: absolute;
  bottom: 170px;
  right: 250px;
  height: 200px;
  width: 200px;
}

/* 
  * holidays-discount secetion style end
 */

/* 
  * our-portfolio secetion style start
 */

.our-portfolio {
  margin-top: 80px;
}
.portfolio-text-content {
  width: 700px;
}
.portfolio-smal-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.portfolio-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 20px 0;
}
.portfolio-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.portfolio-img {
  width: 340px;
  height: 340px;
  scale: 1;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: 20px;
}
.portfolio-img:hover {
  scale: 1.05;
}
.portfolio-img-content {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* 
  * our-portfolio secetion style end
 */

/* 
  * Subscribe-Newsletter secetion style start
 */

.Subscribe-Newsletter {
  height: 600px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin-top: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Newsletter-text-content {
  text-align: center;
}
.Newsletter-text {
  padding: 0 212px;
}
.input-field {
  padding-top: 40px;
  display: flex;
  align-items: center;
}
.input {
  height: 45px;
  width: 350px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  font-size: 20px;
  padding: 0 15px;
  box-shadow: 0px 1px 10px 0px gray;
}
.btn3 {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  transition: all 0.8s;
}
.btn3:hover {
  box-shadow: 1px 2px 1px gray;
  background-color: orange;
  color: black;
  font-weight: 600;
}

/* 
  * Subscribe-Newsletter secetion style end
 */

/* 
 * main part style end
 */

/* 
 * footer part style start
*/
footer {
  background-color: black;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-icons img {
  width: 50px;
  height: 50px;
}
.footer-address {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.footer-text {
  width: 350px;
}
.copy-text {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-top: 300px;
}
.footer-img .img-1 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-img .img-1,
.web-num,
img {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.Unsubscribe {
  padding-top: 350px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
/* 
 * footer part style end
*/
